@{
    ViewData["Title"] = "Home Page";
}

<ol>
    <li><a asp-controller="UserAccount" asp-action="Index">UserAccount</a></li>
    <li><a asp-controller="Course" asp-action="Index">Course</a></li>
    <li><a asp-controller="Class" asp-action="Index">Class</a></li>
    <li><a asp-controller="Task" asp-action="Index">Task</a></li>
    <li><a asp-controller="TaskGrade" asp-action="Index">TaskGrade</a></li>
    <li><a asp-controller="IndividualTask" asp-action="Index">IndividualTask</a></li>
    <li><a asp-controller="IndividualTaskGrade" asp-action="Index">IndividualTaskGrade</a></li>
</ol>

