@using StudySystem.ViewModels
@{
    ViewData["Title"] = "Tasks";
    var clazz = (ClassViewModel) ViewData["Class"];
    var tasks = (List<TaskViewModel>) ViewData["Tasks"];
}

<div class="row">
    <div class="col-lg">
        <h3>@clazz.Topic</h3>
        <h4>Classes</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Topic</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in tasks)
            {
                <tr>
                    <th scope="row">@task.Id</th>
                    <td>@task.Text</td>
                    <td>
                        @if(User.IsInRole("ADMIN")) 
                        {
                        <a class="btn btn-primary" asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg"></div>
</div>
